# Set URL for your scoped packages.
# For example package with name `@my-org/my-package` will use this URL for download
 @nw-workspace:registry=https://scm.neeyamo.com/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@my-org/` packages from private projects.
'//scm.neeyamo.com/api/v4/packages/npm/:_authToken'="ydQ7PCJ3-ryfDu9AN2cB"

# Add token for uploading to the registry. Replace <your-project-id>
# with the project you want your package to be uploaded to.
'//scm.neeyamo.com/api/v4/projects/273/packages/npm/:_authToken'="ydQ7PCJ3-ryfDu9AN2cB"
